.addpost-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.addpost-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addpost-form input,
.addpost-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
}

.addpost-form textarea {
  height: 120px;
  resize: none;
}

.addpost-form input:focus,
.addpost-form textarea:focus {
  border-color: #333;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.addpost-form button {
  padding: 10px;
  font-size: 16px;
  background: #2c6bed;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* .addpost-form button:hover {
  background: #b11f26;
} */
